<html>
	<head>
		<title>Sudoku Game</title>
		<link href = "/stylesheets/application.css" rel="stylesheet" type="text/css" >
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>	
	</head>
	<body>
    <div class="wrapper">
      <h1>Su-Su-Susudoku!</h1>
      <%= yield %>
    </div>
  </body>
</html>