<% if not defined? @print_view %>

	<div class='instructions'>
		
		<h3>How to play Su-Su-Susudoku</h3>

		<p>Simply fill in the blank spaces with the numbers 1 – 9. Every row, column and 3 x 3 box must contain all nine digits with no number repeated. Click your mouse in one of the squares to insert a number and click again to change. You can type in 5 practice numbers in the top of each box above the dashed line using your keyboard.</p>

		<p>The Sudoku puzzle consists of 81 squares divided into nine 3 x 3 blocks. Some of the squares already have numbers in them.</p>

		<p>To solve a Sudoku puzzle you have to use the numbers 1-9 to fill in the blank spaces so that each row, each column and each 3 x 3 square has all the numbers 1-9 appearing once. Some puzzles are quite simple to solve while others are very tricky.</p>

		<p>The only thing you need to solve a Sudoku number place puzzle is logic. You don’t need any mathematical knowledge. In the easier puzzles you may be able to see straight away where a particular number goes. Focusing on one particular blank square at a time, scan its row, column & block.</p>

		<a href="/">Play Su-Su-Susudoku</a>

	</div>

<% end %>