<html>
	<head>
		<title>Sudoku Game</title>
		<link href = "/stylesheets/application.css" rel="stylesheet" type="text/css" >
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
	</head>
	<body>
    <div class="wrapper">
      <h1>Su-Su-Susudoku!</h1>
      <div class = 'instructions'>
        <a href="/instructions">How to play</a>
      </div>
      <div id="flash">
        <%= flash[:notice] %>
      </div>
      <form action="/difficulty" method="post" >
        <ul class ="difficulty_nav">
          <li><button class="button_style" name="level" value="6" >Easy</button></li>
          <li><button class="button_style" name="level" value="4" >Medium</button></li>
          <li><button class="button_style" name="level" value="2" >Hard</button></li>
        </ul>
      </form>
      <form action="/" method="post" >
        <div id="sudoku">
          <%= yield %>
        </div>
      </form>
      <form class="bottom_buttons" action="/solution" method="post" >
        <button class = "button_style button_submit">Answer</button>
      </form>
      <form class="bottom_buttons" action="/reset" method="post" >
        <button class = "button_style button_submit">Reset</button>
      </form>
      <form class="bottom_buttons" action="/save" method="post" >
        <button class = "button_style button_submit">Save</button>
      </form>
      <form class="bottom_buttons" action="/load" method="post" >
        <button class ="button_style button_submit">Load</button>
      </form>
      <div>
        <p class="credits">
          <small>Built by <a href="https://github.com/tretallick/sudoku-web-version">TobyR</a> @ <a href="http:// www.makersacademy.com">Makers Academy</a></small>
        </p>
      </div>
    </div>
  </body>
</html>