<html>
	<head>
		<title>Sudoku Game</title>
		<link href = "/stylesheets/application.css" rel="stylesheet" type="text/css" >
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
	</head>
	<body>
    <h1>Sudoku</h1>
    <div class = 'instructions'>
      <p>Welcome to sudoku! The rules of Sudoku are that you should fill a number in to every cell in the grid, using the numbers 1 to 9. The restriction is that you can only use each number once in each row, each column, and in each of the 3x3 boxes.</p>
    </div>
    <div id="flash">
      <%= flash[:notice] %>
    </div>
    <form action="/difficulty" method="post" >
      <button class="button_style" name="level" value="6" >Easy</button> 
      <button class="button_style" name="level" value="4" >Medium</button>
      <button class="button_style" name="level" value="2" >Hard</button> 
    </form>
    <form action="/" method="post" >
      <div id="sudoku">
        <%= yield %>
      </div>
    </form>
    <form action="/solution" method="post" >
      <button class = "button_style button_submit">Show me the answer!</button>
    </form>
  </body>
</html>