<html>
	<head>
		<title>Sudoku Game</title>
		<link href = "/stylesheets/application.css" rel="stylesheet" type="text/css" >
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
	</head>
	<body>
    <h1>Su-Su-Susudoku!</h1>
    <div class = 'instructions'>
      <p>&#9835; <a href="/instructions">Check out the instructions oh!</a><br>Su-Su-Susudoku! &#9835;</p>
    </div>
    <div id="flash">
      <%= flash[:notice] %>
    </div>
    <form action="/difficulty" method="post" >
      <button class="button_style" name="level" value="6" >Easy</button> 
      <button class="button_style" name="level" value="4" >Medium</button>
      <button class="button_style" name="level" value="2" >Hard</button> 
    </form>
    <form action="/" method="post" >
      <div id="sudoku">
        <%= yield %>
      </div>
    </form>
    <form action="/solution" method="post" >
      <button class = "button_style button_submit">Show me the answer!</button>
    </form>
    <form action="/reset" method="post" >
      <button class = "button_style button_submit">Reset</button>
    </form>
  </body>
</html>