div.box, div.cell {
	display: inline-block;
}

div.box {
	outline: 2px solid #7f8c8d;
}

div.cell {
	outline: 1px solid #7f8c8d;
}

#flash {
	margin: 20px;
}


.cell input {
	width: 40px;
	height: 40px;
	font-size: 20px;
	text-align: center;
}

#sudoku {
	font-size: 0;
	text-align: center;
}

div.row {
	font-size: 0;
}

body {
	text-align: center;
	font-family: Arial;
	background-color: #2ecc71;
}

.incorrect {
	background-color: #f1c40f;
}

.value-provided {
	background-color: #bdc3c7;
}

button {
	margin-top: 20px;
}

h1 {
	font-family: Arial, serif; font-weight: 400;
}