div.box, div.cell {
	display: inline-block;
}

div.box {
	outline: 2px solid black;
}

div.cell {
	outline: 1px solid #7f8c8d;
}

#flash {
	margin: 20px;
}


.cell input {
	width: 40px;
	height: 40px;
	font-size: 20px;
	text-align: center;
}

#sudoku {
	font-size: 0;
	text-align: center;
}

div.row {
	font-size: 0;
}

body {
	text-align: center;
	font-family: Arial;
	background-color: #2ecc71;
}

.incorrect {
	background-color: #f1c40f;
}

.value-provided {
	background-color: #E3E3E3;
}


h1 {
	font-family: 'Covered By Your Grace', Arial, cursive;
	font-size: 80px;
	margin-bottom:0px;
}

.button_style { 
	-webkit-appearance: none;
	height: 30px;
	font-size: 15px;
	border-radius: 10px;
  color: black; 
  background-color: white; 
} 

.button_submit {
	margin-top: 20px;
}

.instructions {
	margin-left: 25%;
	margin-right: 25%;
}



